*{
    padding: 0;
    margin: 0;
    box-sizing: none;
}
html,body{
    height: 100%;
    width: 100%;
}
:root{
    --font-Gildeon: "Gildeon", sans-serif;
    --font-Khofira: "Khofira", sans-serif;
    --font-Montserrat: "Montserrat", sans-serif;
    --font-Muthiara: "Muthiara", sans-serif;
}
@font-face {
    font-family: Gildeon;
    src: url(../Fonts/Gildeon.otf) format(opentype);
}
@font-face {
    font-family: Khofira;
    src: url(../Fonts/Khofira.ttf) format(opentype);
}
@font-face {
    font-family: Montserrat;
    src: url(../Fonts/Montserrat.ttf) format(opentype);
}
@font-face {
    font-family: Muthiara;
    src: url(../Fonts/Muthiara\ demo.otf) format(opentype);
}

body{
    width: 100%;
    height: 100%;
    background: #071A3B;
    color: #FFFCF5;
    height: 100%;
}

/* OPENING SECTION CSS*/
.opening-section{
    width: 100%;
    height: 100%;
}
.section-page{
    height: 100%;
    width: 100%;
    margin-top: 50px;
}
.heading-text span{
    font-family:var(--font-Muthiara);
    font-size: 10rem;
    display: flex;
    justify-content: center;
}
.tag{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.tag .bar{
    font-family: var(--font-Khofira);
    text-align: center;
    padding: 15px;
    width: 10%;
    background-color: rgb(114, 146, 173);
}
/* SOFTWARE SKILLS CSS */
.about-content{
    width: 100%;
    height: 100%;
}
.content-summary{
    width: 100%;
    height: 100%;
}